.card  {
    height: 800px;
        img{
           height: 420px;
           object-fit: cover;
        }
    }
    
    .hero{
        height: 80vh;
        color: black;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    }